.panit-container {
  padding: 0 1.25rem;
  margin: 2.25rem auto;
}
#panit-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* ? Ketua */
#ketua {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.foto-ketua {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.info-ketua {
  max-width: 180px;
  margin: 28px 0 0 1rem;
}
.info-ketua > p {
  margin: 0;
}
.nama-ketua {
  font-size: var(--txt-2xl);
  line-height: var(--lh-2xl);
  font-weight: bold;
}
.posisi-ketua {
  color: var(--secondary);
  font-size: var(--txt-base);
  line-height: var(--lh-base);
}

/* ? Anggota */
.anggota-container {
  padding: 0.75rem 0;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  gap: 1.5rem;
}
#anggota {
  display: flex;
}
.foto-anggota {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
}
.info-anggota {
  margin: 0 0 0 0.75rem;
  align-content: center;
}
.info-anggota > p {
  margin: 0;
}
.nama-anggota {
  width: 118px;
  max-width: 12rem;
  font-size: var(--txt-base);
  line-height: var(--lh-base);
  font-weight: bold;
  white-space: wrap;
}