/* ! Overall Container */
.profile-container {
  --pad-left-right: clamp(1.25rem, 3vw, 2.5rem);
  --pad-top-bottom: clamp(0.75rem, 2vw, 1.5rem);
  --marg-left-right: clamp(12px, 3vw, 20px);

  background-color: var(--def-black);
  margin: 0 var(--marg-left-right);
  margin-bottom: var(--gap);
  padding: var(--pad-top-bottom) var(--pad-left-right);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* ! About */
.about-container > * > * {
  margin-bottom: 0;
  color: var(--def-light);
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2.5rem);
}
#title {
  color: var(--def-white);
  font-weight: bold;
}
.why {
  font-size: clamp(1rem, 3.25vw, 2rem);
  line-height: clamp(1.5rem, 4.25vw, 2.25rem);
}

#desc {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
  line-height: clamp(1rem, 3vw, 2rem);
}

/* ? Image carousel */
.img-carousel {
  --top: clamp(0.25rem, 1vw, 0.625rem);
  --bottom: clamp(0.5rem, 1vw, 1.25rem);
  --border: clamp(5px, 1vw, 10px);
  --item-gap: clamp(1rem, 3vw, 2rem);

  display: flex;
  gap: var(--item-gap);

  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;

  margin: var(--top) 0 var(--bottom) 0;

  filter: saturate(1.75) contrast(1.1) brightness(1.15);
}
#foto {
  --size: clamp(10rem, 25vw, 15rem);

  height: var(--size);
  width: var(--size);
  object-fit: cover;
  border: var(--border) solid var(--def-light);
}
