.navbar {
  height: 48px;
  position: sticky;
  top: 0;
  background-color: var(--def-black);
  justify-content: space-between;
  color: var(--def-light);
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  box-shadow: var(--def-shadow);
}

.navbar .logo {
  height: 1.875rem;
}

.navbar .opsi {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .opsi .dropdown-presensi {
  align-items: center;
  padding: 5px 5px;
  background-color: var(--def-light);
  border-radius: 5px;
  color: var(--def-black);
  
}

svg path{
  fill: var(--def-black);
}

.navbar .opsi .dropdown-presensi #label {
  margin: 0 0 0 5px;
}

.navbar .opsi .dropdown-presensi:hover {
  padding: 9.5% 5px;
  border-radius: 0;
  cursor: pointer;
}
