/* ! Main container */
.divisi-container {
  --gap-row: clamp(2.25rem, 5vw, 3rem);
  --gap-col: clamp(5rem, 12.5vw, 10rem);

  /* border: 1px solid; */

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 1.25rem;
  gap: var(--gap-row) var(--gap-col);
}
@media screen and (min-width: 1280px) {
  .divisi-container {
    width: fit-content;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
