footer {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--def-black);
  color: var(--def-white);
  margin-top: 6rem;
  position: relative;
  overflow: hidden;
}
.container {
  height: 12rem;
}
.row {
  margin: 0;
}

i {
  font-size: 1.5rem;
  margin: 0.6rem;
  align-items: center;
  justify-content: center;
}
.logo-img {
  background-color: white;
  border-radius: 30%;
  padding: 2px;
  margin: 5px;
  width: 40px;
  z-index: 1;

  object-fit: cover;
}
footer .intersect {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: auto;
}
.containerimg {
  z-index: 1;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .logo-img {
    width: 10%;
    height: auto;
  }

  i {
    font-size: 1rem;
  }

  .h5 {
    font-size: 1rem;
  }

  footer .intersect {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: auto;
  }
}
