.divisi {
  /* border: 1px solid; */
  width: 100%;
}

/* ! Divisi container */
._divisi {
  --item-gap: clamp(1rem, 2.5vw, 2rem);
  --size: clamp(120px, 22.5vw, 180px);

  /* ! Activate this to show the bounding box */
  position: relative;
  min-height: var(--size);
  display: flex;
  flex-direction: row;
  gap: var(--item-gap);

  & .foto-co {
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--def-shadow);

    filter: saturate(1.35) contrast(0.8) brightness(1.1);
  }

  /* ! Info container > nama, desc, foto anggota */
  & .info > * > p {
    margin: 0;
  }
  & .info {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;

    & .nama-divisi {
      --font-sz: clamp(var(--txt-2xl), 4vw, var(--txt-3xl));
      --line-hg: clamp(var(--lh-2xl), 5vw, var(--lh-3xl));

      font-size: var(--font-sz);
      line-height: var(--line-hg);
      font-weight: bold;
    }
    .deskripsi-divisi {
      color: var(--secondary);
    }

    .pp-anggota {
      --size: clamp(3rem, 8.5vw, 4.5rem);
      --overlap: calc(-1 * clamp(1rem, 3vw, 1.5rem));
      --border: clamp(2px, 0.75vw, 4px);
      --border-col: var(--def-light);

      display: flex;

      & .pp {
        width: var(--size);
        border-radius: 50%;

        aspect-ratio: 1 / 1;
        object-fit: cover;

        filter: saturate(1.35) contrast(0.9) brightness(1.1);
        border: var(--border) solid var(--border-col);

        z-index: -1;
      }

      & .pp:not(:first-child) {
        margin-left: var(--overlap);
      }

      & .remain-open-false {
        height: var(--size);
        width: var(--size);
        background-color: var(--def-black);
        color: var(--def-white);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        border: var(--border) solid var(--border-col);
        margin-left: var(--overlap);

        cursor: pointer;
      }
      & .remain-open-true {
        height: var(--size);
        width: var(--size);
        background-color: var(--def-black);
        color: var(--def-white);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        border: var(--border) solid var(--border-col);
        cursor: pointer;
      }
    }
  }
}
.divisi:nth-child(odd) {
  /* border: 1px solid grey; */
  justify-content: flex-start;
}
.divisi:nth-child(even) {
  /* border: 1px solid grey; */
  & ._divisi {
    display: flex;
    justify-content: space-between;
  }
}

/* ! All staff */
.all-staff {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  & .pp {
    width: var(--size);
    border-radius: 50%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;

    filter: saturate(1.35) contrast(0.9) brightness(1.1);
    border: 2px solid var(--def-black);

    z-index: -1;
  }
}

/* ! Close button */
.more-img {
  --font-sz: clamp(1rem, 3vw, 1.5rem);
  --line-hg: clamp(1.5rem, 4vw, 2rem);
  
  display: flex;
  align-items: center;
  column-gap: 5px;

  & span {
    font-size: var(--font-sz);
    line-height: var(--line-hg);
    font-weight: bold;
  }
}