/* ! Some variables */
:root {
  /* --card-width: clamp(min-content, 60vw, max-content); */
  --card-height: clamp(475px, 90vw, 535px);
  --card-gap: clamp(24px, 3vw, 36px);
  --item-gap: clamp(24px, 5vw, 36px);
  --decor-width: clamp(200px, 40vw, 250px);
  --title-gap: clamp(6px, 2vw, 12px);
}

/* ! Card carousel styling */
.cards-carousel {
  --pad-top: clamp(12px, 2vw, 20px);
  /* border: 1px solid; */
  height: fit-content;
  padding: var(--pad-top) clamp(12px, 3vw, 20px);
  display: flex;
  gap: var(--card-gap);
  overflow-x: auto;
  scrollbar-width: none;
}
/* ! The card and its flip animation */
.card-container {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;

  cursor: pointer;

  & .red-ligth-decor > svg path {
    fill: var(--secondary);
  }
  & .red-dark-decor > svg path {
    fill: var(--accent);
  }
  & .blue-ligth-decor > svg path {
    fill: var(--primary);
  }
  & .blue-dark-decor > svg path {
    fill: var(--def-black);
  }
  .dummy {
    height: var(--card-height);
    opacity: 0;
    border: 2px solid;
    cursor: initial;
    padding: 1.25rem;
  }
  .cards-item {
    /* opacity: 0; */
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 500ms ease;
  }
  input {
    display: none;
  }
  & :checked + .cards-item {
    transform: rotateY(180deg);
  }
}

/* ! Front card stylings */
.front-part:not(.dummy) {
  position: absolute;
  height: var(--card-height);
  border: 2px solid var(--def-black);
  background-color: var(--def-white);
  box-shadow: 3px 4px 6px rgba(0, 46, 71, 0.4);
  padding: 0 1.25rem;

  backface-visibility: hidden;
}
.front-part .item-container {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: var(--item-gap);
  align-items: center;
  padding-top: 4rem;

  & #info {
    color: var(--secondary);
    margin-bottom: 1.25rem;
  }

  & img {
    width: clamp(250px, 50vw, 300px);
    height: clamp(180px, 36vw, 216px);
    aspect-ratio: 25/18;
    object-fit: cover;

    filter: saturate(1.75) contrast(0.95) brightness(0.95);
  }
}
.card-title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--title-gap);

  & svg {
    width: var(--decor-width);
  }

  & #motto {
    height: calc(clamp(16px, 3vw, 24px) * 2);
  }

  & > * {
    /* border: 1px solid; */
    margin: 0;
    color: var(--def-black);
    font-weight: bold;
    text-align: center;
  }
}
.front {
  font-size: clamp(24px, 5vw, 36px);
}

/* ! Back part stylings */
.back-part {
  position: absolute;
  justify-items: center;
  height: var(--card-height);
  border: 2px solid var(--def-black);
  background-color: var(--def-white);
  box-shadow: 3px 4px 6px rgba(0, 46, 71, 0.4);
  padding: 1.25rem;

  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#border-box {
  border: 2px solid var(--def-black);
  height: 100%;
  width: clamp(250px, 50vw, 300px);
  justify-items: center;

  & .red-ligth-head {
    background-color: var(--secondary);
  }
  & .red-dark-head {
    background-color: var(--accent);
  }
  & .blue-ligth-head {
    background-color: var(--primary);
  }
  & .blue-dark-head {
    background-color: var(--def-black);
  }

  & .back {
    width: 100%;
    padding: 1.25rem 0;
    /* margin-bottom: clamp(16px, 3vw, 24px); */
    color: var(--def-light);

    font-weight: bold;
    font-size: clamp(24px, 4vw, 28px);
    line-height: clamp(32px, 4vw, 36px);
    text-align: center;
    border-bottom: 2px solid var(--def-black);
  }

  & .info-container {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 5vw, 24px);
    width: 100%;
    padding: 1.25rem;

    & .decor > svg {
      width: 100%;
    }

    & .even-desc {
      font-size: clamp(14px, 3vw, 16px);
      line-height: clamp(20px, 4vw, 24px);
    }
  }
}

#date-place {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 6px;

  & .date,
  & .place {
    font-size: clamp(12px, 2vw, 16px);
    line-height: clamp(16px, 3vw, 24px);
    display: flex;
    gap: 6px;
    align-items: center;
  }
}
