@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: "Roboto";
  margin: 0;
}

#root {
  --def-light: hsl(0, 0%, 100%);
  --def-white: hsl(40, 95%, 92%);
  --def-black: hsl(201, 100%, 14%);
  --primary: hsl(203, 38%, 57%);
  --accent: hsl(340, 55%, 22%);
  --secondary: hsl(352, 76%, 35%);

  /* ? Linear Grad */
  --talkshow-child: linear-gradient(90deg, var(--accent) 25%, var(--def-black) 100%);
  --talkshow-child-pressed: linear-gradient(to right, var(--def-black) 50%, var(--def-white) 100%);
  --pressed: linear-gradient(to right, var(--accent), var(--secondary));

  /* ? Font Size & Line Height */
  --txt-xs: 0.75rem;
  --lh-xs: 1rem;

  --txt-base: 1rem;
  --lh-base: 1.5rem;

  --txt-2xl: 1.5rem;
  --lh-2xl: 2rem;

  --txt-3xl: 1.875rem;
  --lh-3xl: 2.25rem;

  --txt-4xl: 2.25rem;
  --lh-4xl: 2.5rem;

  --txt-5xl: 3rem;
  --lh-5xl: 3rem;

  /* ? Shadow */
  --shadow-x: clamp(3px, 1vw, 6px);
  --shadow-y: clamp(4px, 1vw, 8px);
  --shadow-blur: clamp(6px, 1.25vw, 12px);

  --shadow-pos: var(--shadow-x) var(--shadow-y) var(--shadow-blur);

  --def-shadow: var(--shadow-pos) rgba(0, 46, 71, 0.4);

  /* ? Navbar heigth */
  --nav-heigth: clamp(56px, 5vw, 72px);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--def-light);
  /* text-decoration: none; */
}

button {
  border: none;
}

h1 {
  font-size: clamp(var(--txt-3xl), 5vw, var(--txt-5xl));
  line-height: clamp(var(--lh-3xl), 6vw, var(--lh-5xl));
  font-weight: bold;
}

:not(h1) {
  font-size: clamp(var(--txt-xs), 2.25vw, var(--txt-base));
  line-height: clamp(var(--lh-xs), 3vw, var(--lh-base));
}