.divisi-container {
  width: fit-content;
  padding: 0 1.25rem;
  display: grid;
  margin: 0 auto;
  gap: 1rem 5rem;
}

@media screen and (min-width: 800px) {
  .divisi-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

#divisi {
  /* border: 1px solid; */
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

#foto-co {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}
#info > * > p {
  margin: 0;
}

.nama-divisi {
  font-size: var(--txt-base);
  line-height: var(--lh-base);
  font-weight: bold;
}
.deskripsi-divisi {
  color: var(--secondary);
}

.pp-anggota {
  height: 40px;
  width: 240px;
  background-color: var(--def-black);
  color: #fff;
  text-align: center;
}