/* ! Main container */
.divisi-container {
  --gap-row: clamp(1rem, 2.5vw, 2rem);
  --gap-col: clamp(5rem, 12.5vw, 10rem);

  width: fit-content;
  display: grid;
  margin: 0 auto;
  gap: var(--gap-row) var(--gap-col);
}
@media screen and (min-width: 800px) {
  .divisi-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ! Divisi container */
#divisi {
  --item-gap: clamp(0.75rem, 1.25vw, 1.5rem);

  /* ! Activate this to show the bounding box */
  /* border: 1px solid; */
  display: flex;
  gap: var(--item-gap);
  justify-content: center;
}
#foto-co {
  --size: clamp(120px, 22.5vw, 180px);
  
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--def-shadow);
}

/* ! Info container > nama, desc, foto anggota */
#info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}
#info > * > p {
  margin: 0;
}

.nama-divisi {
  --font-sz: clamp(var(--txt-2xl), 4vw, var(--txt-3xl));
  --line-hg: clamp(var(--lh-2xl), 5vw, var(--lh-3xl));
  
  font-size: var(--font-sz);
  line-height: var(--line-hg);
  font-weight: bold;
}
.deskripsi-divisi {
  color: var(--secondary);
}

.pp-anggota {
  --size: clamp(2.5rem, 6vw, 3rem);
  --img-gap: ;

  display: flex;

  & #pp {
    height: var(--size);
    width: var(--size);
    border-radius: 50%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  & #pp:not(:first-child) {
    margin-left: -1rem;
  }
  
  & #remain {
    height: var(--size);
    width: var(--size);
    background-color: var(--def-black);
    color: var(--def-white);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--def-light) inset;
    margin-left: -1rem;
  }
}
